<h1>Make a new record!</h1>
<form action="{{ path('dan_finnie_car_add_log_record', {id: car.id} ) }}" method="post" {{ form_enctype(form) }}>
   {{ form_widget(form) }}
   <input type="submit" />
</form>
